/*:::: MIXINS ::::*/

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin centered-text {
	text-align: center;
}

@mixin border-radius ($radius: 10px) {
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
  -ms-border-radius: $radius;
  -khtml-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow ($x, $y, $blur, $color) {
  -o-box-shadow: $x, $y, $blur, $color;
  -moz-box-shadow: $x, $y, $blur, $color;
  -ms-box-shadow: $x, $y, $blur, $color;
  -khtml-box-shadow: $x, $y, $blur, $color;
  -webkit-box-shadow: $x, $y, $blur, $color;
  box-shadow: $x, $y, $blur, $color;
}

@mixin inset-shadow ($inset, $x, $y, $blur, $color) {
  -o-box-shadow: $inset, $x, $y, $blur, $color;
  -moz-box-shadow: $inset, $x, $y, $blur, $color;
  -ms-box-shadow: $inset, $x, $y, $blur, $color;
  -khtml-box-shadow: $inset, $x, $y, $blur, $color;
  -webkit-box-shadow: $inset, $x, $y, $blur, $color;
  box-shadow: $inset, $x, $y, $blur, $color;
}

@mixin text-shadow ($x, $y, $blur, $color) {
  -o-text-shadow: $x, $y, $blur, $color;
  -moz-text-shadow: $x, $y, $blur, $color;
  -ms-text-shadow: $x, $y, $blur, $color;
  -khtml-text-shadow: $x, $y, $blur, $color;
  -webkit-text-shadow: $x, $y, $blur, $color;
  text-shadow: $x, $y, $blur, $color;
}

@mixin top-borders ($radius: 6px) {
  -moz-border-top-left-radius: $radius;
  -o-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -khtml-border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -o-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  -khtml-border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin bottom-borders ($radius: 6px) {
  -moz-border-bottom-left-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  -khtml-border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -o-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  -khtml-border-bottom-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin transition-ease-in-out ($which, $time, $type) {
  -webkit-transition: $which, $time, $type;
  -moz-transition: $which, $time, $type;
  -o-transition: $which, $time, $type;
  transition: $which, $time, $type;
}
