/******************************************************\
 * Custom Build of 'normalize.css' originally by      *
 * Necolas - http://github.com/necolas/normalize.css  *
 *                                                    *
 * Modified for use in Fraction.less. See original    *
 * for normalize.css documentation.                   *
\******************************************************/

/*:::: DEFAULT COLOR SETTINGS ::::*/

$mark-bg: #ff0;
$mark-text: #000;
$text-highlight: yellow;
$image-highlight: yellow;


/*:::: HTML5 DISPLAY DEFINITIONS ::::*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

/*:::: BASE ::::*/

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


/*:::: LINKS ::::*/

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}


/*:::: TYPOGRAPHY ::::*/

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

mark {
    background: $mark-bg;
    color: $mark-text;
}

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/*:::: LISTS ::::*/

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/*:::: EMBEDDED CONTENT ::::*/

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}


/*:::: FIGURES ::::*/

figure {
    margin: 0;
}


/*:::: FORMS ::::*/

form {
    margin: 0;
}

fieldset {
    border: none;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal; /* 1 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/*:::: TABLES ::::*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*:::: TEXT SELECTION COLORS ::::*/

::selection, ::-moz-selection {
	background: rgb(255,255,158);
}

img::selection, img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgb(255,255,158);
}
